

<section class="admin-subpage-content card">
  <div class="table-responsive">
    <p-toast></p-toast>
    <p-table [value]="matrix" [loading]="loading" [scrollable]="true" scrollHeight="flex" >
      <ng-template pTemplate="caption">
        <div class="flex justify-between mb-2">
          <h3>{{ 'MENU.NOTIFICATIONS' | translate }}</h3>
          <div>
            <p-select [options]="projectOptions" [(ngModel)]="selectedProject" (ngModelChange)="onProjectChange($event)" [checkmark]="true" optionLabel="label" optionValue="value" placeholder="{{ 'components.projects.menu.LIST' | translate }}" class="mr-2" style="width: 350px;" appendTo="body"></p-select>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Event</th>
          <th>Description</th>
          <th *ngFor="let m of methods">{{ m.name }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ row.event?.name || row.event?.code }}</td>
          <td>{{ row.event?.description || '-' }}</td>
          <td *ngFor="let methodEntry of row.methods; let j = index">
            <p-checkbox [(ngModel)]="row.methods[j].enabled" (ngModelChange)="onToggleMethod(row.event, methodEntry, $event, row, j)" binary="true"></p-checkbox>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</section>
