.admin-subpage-tools {
  height: 70px;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.admin-subpage-content {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.p-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--p-toolbar-padding);
    background: var(--p-toolbar-background);
    border: 0px solid var(--p-toolbar-border-color);
    color: var(--p-toolbar-color);
    border-radius: var(--p-toolbar-border-radius);
    gap: var(--p-toolbar-gap);
}
