<div class="page-administration">
	<div class="admin-grid">
		<aside class="admin-menu">
			<ul class="layout-menu">
				@for (group of menuGroups; track group.label) {
					<li class="layout-root-menuitem">
						<div class="layout-menuitem-root-text">{{ group.label }}</div>
						<ul class="layout-root-submenulist">
							@for (item of group.items; track item.label) {
								<li>
									<a [routerLink]="item.routerLink"
									   routerLinkActive="active-route"
									   [routerLinkActiveOptions]="{ exact: true }"
									   class="layout-menuitem-link"
									   pRipple>
										<i [class]="item.icon + ' layout-menuitem-icon'"></i>
										<span class="layout-menuitem-text">{{ item.label }}</span>
									</a>
								</li>
							}
						</ul>
					</li>
				}
			</ul>
		</aside>

		<section class="admin-content-wrapper">
			<router-outlet></router-outlet>
		</section>
	</div>
</div>
